* {
    font-family: helvetica;
}

#expense-list tr:nth-child(odd) {
    background-color: rgba(0,0,0,0.1);
}

#head-row {
    background-color: black!important;
    color: white;
}

#expense-list td, #expense-list th {
    padding: 10px 5px;
}

#expense-list tr td:nth-child(1) {
    font-weight: 700;
}