{% extends "layout.jinja2" %}

{% block title %}Forbidden{% endblock %}

{% block body %}

<h1>I'm sorry Dave, I'm afraid I can't do that</h1>

<img src="http://68.media.tumblr.com/0cecf841496e37c59d02191b82c4062a/tumblr_nrkbm2TEqa1u3n44mo1_r1_500.gif"/>

{% endblock %}