<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Expense App{% endblock %}</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="">Expenses</a></li>
      <li><a href="">New Expense</a></li>
    </ul>
  </nav>
  {% block body %}
  {% endblock %}
</body>
</html>