{% extends "layout.jinja2" %}

{% block title %}Expenses{% endblock %}

{% block body %}

<table>
    <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Name</th>
    </tr>

{% for expense in expenses %}
<tr>
    <td>{{ expense.id }}</td>
    <td>${{ expense.amount | round(2)}}</td>
    <td>{{ expense.item }}</td>
</tr>
{% endfor %}

</table>

{% endblock %}